main {
    min-height: 80vh;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

.shadow-button {
    transition: box-shadow 0.3s;
}

.shadow-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.text-right {
    text-align: right;
}